/*  4k & 8k Screens */
@media(min-width:3000px) and (max-width:4420px) {

    #intro-section {
        padding-bottom: 250px;
    }

    body {
        >footer {
            padding: 380px 0 60px 0;

        }
    }
}

@media(min-width:1600px) and (max-width:2999px) {
    body {
        >footer {
            padding: 220px 0 60px 0;

        }
    }
}

/*  Extra large devices (large desktops, 1200px and up) */

@include media-breakpoint-up(xl) {
    body {
        &>#header {
            #navbar {
                .navbar-nav {
                    .nav-item {
                        .nav-link {
                            padding: 22px 15px 0;
                        }
                    }
                }
            }
        }
    }
}