/* =========================================
 Contact  Section 
 =========================================*/
#contact-section {


    .row {
        align-items: flex-start;
    }

    .section-title {
        margin-bottom: 30px;
    }

    // Contact Form 
    .contact-form {
        position: relative;

        button {
            width: 100%;
        }

        .form-group {
            position: relative;

            .invalid-tooltip,
            .valid-tooltip {
                right: 0;
            }

        }
    }

    // Contact Info 
    .contacts-info {
        background-position-x: left;
        width: fit-content; width:-moz-fit-content;
        padding: 0 0 30px 0;
        overflow: visible;

        .info {
            li {
                margin: 10px 0;
                font-size: 16px;

                i {
                    display: inline-block;
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                    box-shadow: $shadow-box-light;
                    display: inline-flex;
                    justify-content: center;
                    align-items: center;
                    background: color(theme-white) ;
                }

                span {
                    padding: 0 12px;
                    font-weight: 500;
                }
            }
        }

        .socialMediaLinks {
            margin: 30px 0;

            li {
                margin: 0 5px;
            }
        }
    }

    // Style 2 
    &.style-2 {
        .contact-form {
            width: 920px;
            margin: auto;
            border-radius: 20px;
            background: linear-gradient(45deg, $color-white-dark, transparent);
            padding: 40px 60px;
            z-index: 5;
            box-shadow: $shadow-box;
        }

    }

}