/* =========================================
 Video Section
 =========================================*/

#video-section {
    background:color(theme-white-dark);

    .container {
        position: relative;

    }

    .section-title {
        margin-bottom: 30px;
    }

    .video-link {
        position: relative;
        height: 300px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 300px;
        margin: auto;

        &::before,
        &::after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            margin: auto;
            background: color(main);
            border-radius: 50%;
            display: block;
        }

        &:before {
            width: 200px;
            height: 200px;
            opacity: .4;
            z-index: 2;
            transition-delay: .2s
        }

        &:after {
            width: 250px;
            height: 250px;
            opacity: .2;
            z-index: 1;
        }

        a {
            width: 100px;
            height: 100px;
            margin: auto;
            background: color(main);
            border: 15px solid rgba($color-white, .2);
            border-radius: 50%;
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 23px;
            z-index: 3;

            i {
                color: color(theme-white) ;
            }
        }

        &:hover {

            &::after,
            &:before {
                transform: scale(.9);
            }


        }
    }

    &.style-2 {
        padding: 80px 0;


        @include backgroundImage("bg-2.jpg", cover);

        &:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: color(main);
            opacity: .9;
        }

        .section-title {
            * {
                color: #fff;
            }

            max-width:450px;
            margin-right: auto;
            margin-left: auto;

        }

        .video-link {
            height: 110px;

            &::after {
                content: none;
            }

            &::before,
            a {
                background: color(theme-white) ;
            }

            &:before {
                width: 110px;
                height: 110px;
            }

            a {
                width: 70px;
                height: 70px;

                i {
                    color: color(main);
                    font-size: 20px;
                }
            }
        }

    }
}